@model IEnumerable<Twitta.Website.Models.Search>

@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    ViewBag.Title = "Available Searches";
}

<div class="home-wrapper">

    <div class="wrapper-twitta-logo">
        <div class="twitta-logo"></div>
        <div class="twitta-text">
            Twitta
        </div>
    </div>

    <div class="wrapper-new-search-term">
        <a href="#" class="add-search-option">
            <span class="fa fa-plus-circle"></span>
        </a>
        <input id="newSearch" data-url="@Url.Action("QuickCreate","Search")" type="text" placeholder="Add a new search filter" />
    </div>

    <div class="wrapper-home-search-options">

        <div class="container">

            <div class="row clear-fix">

                @foreach (var item in Model)
                {
                    <div class="column fourth">
                        <div class="search-result">
                            <a class="search-result-name" href="@Url.Action("SearchResults", new { id = item.SearchId })">@item.Title</a>
                            <div class="search-result-tweet-number">@item.Tweets.Count</div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>
    
    <span>@ViewBag.Sentiment</span>

    <script>
        $(document).ready(function () {
            $('.add-search-option').on('click', function () {
                if ($(this).parent().hasClass('active')) {
                    $(this).dequeue();
                    $(this).parent().removeClass('active');
                    $(this).siblings('input').removeClass('active');
                } else {
                    $(this).parent().addClass('active');
                    $(this).delay(250).queue(function () {
                        $(this).siblings('input').addClass('active').dequeue();
                    });
                }
            });

            $('#newSearch').keyup(function(e) {
                if (e.keyCode == 13) {
                    var searchText = $(this).val();
                    var url = $(this).data('url') + "?searchText=" + searchText;
                    if (searchText != '') {
                        var data = { searchText: searchText };
                        console.log(data);
                        $.ajax({
                            cache: false,
                            url: url,
                            success: function () {
                                $('#newSearch').val('');
                                location.reload();
                            }
                        });
                    }
                }
            });
        });
    </script>

</div>