@model Twitta.Website.ViewModels.TwitterAppViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ApiApplication</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AppName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppName)
                @Html.ValidationMessageFor(model => model.AppName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConsumerKey, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConsumerKey)
                @Html.ValidationMessageFor(model => model.ConsumerKey)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConsumerKeySecret, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConsumerKeySecret)
                @Html.ValidationMessageFor(model => model.ConsumerKeySecret)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Token, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Token)
                @Html.ValidationMessageFor(model => model.Token)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TokenSecret, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TokenSecret)
                @Html.ValidationMessageFor(model => model.TokenSecret)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
