@model IEnumerable<Twitta.Website.Models.TwitterApp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerKeySecret)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerKeySecret)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApiApplicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApiApplicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApiApplicationId })
        </td>
    </tr>
}

</table>
